//职位新增、编辑页面
@mixin job-info {
    .status-bar {
    	.box {
    		div {
    			float: left;
    			width: 33.33333333333333%;
    			text-align: center;
			    background: #f2f3f8;
			    -webkit-transition: all 0.3s ease;
			    -o-transition: all 0.3s ease;
			    transition: all 0.3s ease;
			    color: #444;
			    position: relative;
			    height: 28px; 
    			line-height: 28px;		
    			cursor: pointer;	    
	    		&.disabled {
	    			&:hover {
						background: #787878;
					    color: #fff;
					    cursor: not-allowed;    				
	    			}
	    		}			    
	    		&.on {
				    color: #ffffff;
				    background-color: #e05f32;
				    -webkit-box-shadow: 0 8px 22px #ebebeb;
				    box-shadow: 0 8px 22px #ebebeb;    			
	    		}			       	    			
    		}


    	}
    }
    .form-box {
    	.wrap {
		    margin-top: 25px;
		    border-radius: 3px;
		    overflow: hidden;
		    padding: 25px 32px;
		    -webkit-box-shadow: 0 8px 22px #ebebeb;
		    box-shadow: 0 8px 22px #ebebeb;
			background-color: #fff;  
			.title {
				border-bottom: 1px dashed #ddd; 
				padding-bottom: 10px;
				h3 {
				    margin: 0px 0 8px 5px;
				    border-left: 6px solid #019B90;
				    padding-left: 10px;
				    font-size: 18px;
				    line-height: 16px;					
				}
			}  
			.form-body {
				.wrapper {
					margin-top: 20px;
					.del-job {
					    display: inline-block;
					    margin-bottom: 0;
					    font-weight: 400;
					    text-align: center;
					    vertical-align: middle;
					    -ms-touch-action: manipulation;
					    touch-action: manipulation;
					    cursor: pointer;
					    background-image: none;
					    border: 1px solid transparent;
					    white-space: nowrap;
					    padding: 6px 12px;
					    font-size: 14px;
					    line-height: 1.42857143;
					    border-radius: 4px;
					    -webkit-user-select: none;
					    -moz-user-select: none;
					    -ms-user-select: none;
					    user-select: none;					
						border-radius: 3px;					
					    float: right;
					    @include greenbtn;				
					}
					.job-type {
						margin-bottom: 15px;
					}	
					.add-job-type {
						margin-top: 10px;
						text-align: center;
						.add-jobtype-btn {
						    @include greenbtn;							
						}
					    					
					}
					.cp {
						.row {
							padding-bottom: 10px;
							margin-bottom: 10px;
							border-bottom: 1px dashed #ddd;

						}
					}
					.form-title {
						float: right;
						margin-right: 50px;
						i {
						    font-size: 9px;
						    vertical-align: bottom;
						    line-height: 17px;
						    margin-right: 5px;
						    color: #e05f32;							
						}
					}	
					.form-group {
						overflow: hidden;
					}	
					.yx {
						* {
							float: left;
						}
						.heighest,.lowest {
							width: 40%;
						}
						span {
							width: 20%;
							line-height: 36px;
							text-align: center;
						}							
					}
					.jobdesc {
						height: auto;
						min-height: 200px;
					}
					.add-job-addr {
						text-align: center;
						.add-addr-btn {
							@include greenbtn;	
						}
					}
					.bottom {
						text-align: right;
						margin-top: 20px;
						.release {
							@include greenbtn;
						}
					}
	
				}
				
			}    		
    	}
    }	
}

//页面头部
@mixin page-header {
	background: #fff;
	.title {
	    display: inline-block;
	    color: #7a7a7a;
	    font-size: 24px;
	    line-height: 50px;
	}	
}


@media screen  and (max-width: 992px) {
	.form-box .wrap .form-body .wrapper .form-title {
		float: none !important;
		margin-right: 0 !important;
	}	
}